.category {
  background-color: #fff;
  padding: 20px 10px;
  border-bottom: 1px solid rgb(167, 167, 167);


  &__menu {
    display: flex;
    padding: 0 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: $md2+px) {
      padding: 0 25px;

       
      }
      @media (max-width: $md3+px) {
        padding: 0 15px;
  
         
        }
        @media (max-width: $md3+px) {
          padding: 0 5px;
    
           
          }
  }
  &__div{
    flex-basis: 33.33%;
    display: flex;
    justify-content: center;
  }

  &__button {
    min-width: 140px;
    margin-bottom: 20px;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #fff;
    color: #09265D;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.714);
    transition: .3s;
    @media (max-width: $md2+px) {
      font-size: 16px;
      padding: 5px 10px;
    min-width: 110px;
       
      }
      @media (max-width: 564px) {
      min-width: 90px;
         
        }
      @media (max-width: $md3+px) {
        padding: 5px;
      font-size: 14px;
        
         
        }
    &:hover {
      background-color: lighten(#09265D, 11%);

      color: #fff;
    }
    &.active {
      background-color: #09265D;
      color: #fff;
    }
   
  }
}
