@import '~bootstrap/scss/bootstrap';

.category {
  margin-top: 30px;
  padding: 40px 0px 60px 0px;
  background-color: #fff;
  border-radius: 10px;

  // .category__title

  &__title {
    font-size: 36px;
    justify-content: center;
    display: flex;
    padding-bottom: 25px;
    border-bottom: 2px solid #284b63;
  }

  // .category__content

  &__content {
    margin-top: 55px;
    padding: 0 30px;
  }

  // .category__card

  &__card {
  border-radius: 5px;
  margin-bottom: 30px;    
    &__image {
      img{
        width: 100%;
      }
    }
    &__content {
    
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: #e8e9ed;
      display: flex;
      padding-left: 25%;
      align-items: center;
      @media (max-width: 1292px) {
        justify-content: center;
        padding-left: 0;
      }
    }
    &__text {
      margin-left: 10px;
      font-size: 24px;
      color: #284B63;

    }
  }
}
