//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1280;
$md1: $maxWidthContainer + 12;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

$borrad: 10px;

$fontFamily: 'Montserrat';
//</ПЕРЕМЕННЫЕ>===========================================================================================================
@import 'fonts';
@import 'null';
@import 'header';
@import 'cherkanyMain';
@import 'chooserCategory';

.wrapper {
  position: relative;
}
.container {
  position: relative;
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  width: 100%;
  @media (max-width: $md1+px) {
    max-width: 970px;
  }
  @media (max-width: $md2+px) {
    max-width: 750px;
  }
  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 10px;
  }
}

body {
  background-color: #e8e9ed;
  height: 100%;
  width: 100%;
  top: 0;
  overflow: auto;
  font-family: $fontFamily;
  overflow-x: hidden;
  position: relative;
}
